<div>

  <app-buttons (loginEvent)="showComponent('login')"
               (logoutEvent)="showComponent('welcome')"></app-buttons>



<!--  <app-welcome-content *ngIf="componentToShow == 'welcome'"/>-->
  <!--  now i display the welcome content if the variable is
  is equal to welcome

  and display the login component if the variable is
  is equal to login

  and display the auth component if the variable is equal to messages
  -->
  <app-login-form *ngIf="componentToShow == 'login'"
    (onSubmitLoginEvent) = "onLogin($event)"
    (onSubmitRegisterEvent) = "onRegister($event)"
  >
  </app-login-form>
</div>
  <app-auth-content *ngIf="componentToShow == 'messages'">
  </app-auth-content>


<!--  and now i need to create the variable and the method-->
<!--
i start by linking the output variable into a method, the method
onLogin is defined in content.component.ts
-->
